/* html{
    background: blue !important;
} */

.section.contenido{
    position: relative;
    top: 5.7vh;
    left: 0;
    width: 100%;
    transition: 0.5s;
}
.section.contenido.open{
    left: 150px;
}
.card{
    box-shadow: 0 0 0 #333;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 0px 15px #333;
}
.has-text-justified.contenedor-texto{
    height: 180px;
}